* {
    background-color: darkgrey;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: darkslategrey;
    padding: 5px;
    
}

h1 {
    background-color: transparent;
}

h2 {
    font-size: 50px;    
}

button {
    margin: 10px;
    border-radius: 15px;
    background-color: black;
    color:aliceblue;
    cursor:pointer;
}